* {
    background-color: aqua;
}

#heading {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    margin: 10px 0px 0px 190px;
    font-size: 40px;
    border: 10px;
    border-style: double;
    border-color: black;
    text-decoration: solid;
    position: fixed;
    top: 0;
    width: 60%;
    /* (position: fixed, top: 0) These 2 are used to place the heading stable while scrolling*/
}

form {
    margin-top: 150px;
}

label {
    margin-left: 190px;
    width: 140px;
    display: inline-block;
}

input {
    font-size: 14px;
    border: 1.4px solid black;
    background-color: white;
}

#filesub {
    border-style: none;
    background-color: aqua;
}

/* label:last-child {
    margin-top: 15px;
} */

select {
    background-color: white;
}

button {
    background-color: white;
}

#reset {
    margin-left: 20px;
}